Navigation (<a href="{{ site.github.repository_url }}/edit/{{site.git_branch | escape}}/_includes/sidebar.html">Edit</a>):

<ul>
  <li><a href="{{ '/' | relative_url }}">Home</a></li>
  <li><a href="{{ '/gameplay' | relative_url }}">Gameplay</a></li>
  <li><a href="{{ '/example-page' | relative_url }}">Example page</a></li>
</ul>

Gameplay
<ul>
  <li><a href="{{ '/gameplay' | relative_url }}">Gameplay</a></li>
</ul>

Mechanics
<ul>
  <li><a href="{{ '/training-points' | relative_url }}">Trainig Points</a></li>
</ul>

New Areas
<ul>
  <li><a href="{{ '/gameplay' | relative_url }}">Gameplay</a></li>
</ul>

Reincarnation & Races
<ul>
  <li><a href="{{ '/gameplay' | relative_url }}">Gameplay</a></li>
</ul>

Equipment
<ul>
  <li><a href="{{ '/gameplay' | relative_url }}">Gameplay</a></li>
</ul>

<a href="{{ '/gameplay' | relative_url }}">Schools</a>
<ul>
  <li><a href="{{ '/schools/alchemy.md' | relative_url }}">Alchemy</a></li>
  <li><a href="{{ '/schools/banditry.md' | relative_url }}">Banditry</a></li>
  <li><a href="{{ '/schools/beastiary.md' | relative_url }}">Beastiary</a></li>
  <li><a href="{{ '/schools/faren.md' | relative_url }}">Faren</a></li>
  <li><a href="{{ '/schools/jala.md' | relative_url }}">Jala</a></li>
  <li><a href="{{ '/schools/knightcraft.md' | relative_url }}">Knightcraft</a></li>
  <li><a href="{{ '/schools/kraanan.md' | relative_url }}">Kraanan</a></li>
  <li><a href="{{ '/schools/qor.md' | relative_url }}">Qor</a></li>
  <li><a href="{{ '/schools/riija.md' | relative_url }}">Riija</a></li>
  <li><a href="{{ '/schools/shadowcraft.md' | relative_url }}">Shadowcraft</a></li>
  <li><a href="{{ '/schools/shalille.md' | relative_url }}">Shal'ille</a></li>
  <li><a href="{{ '/schools/sorcery.md' | relative_url }}">Sorcery</a></li>
  <li><a href="{{ '/schools/weaponcraft.md' | relative_url }}">Weaponcraft</a></li>
  <li><a href="{{ '/schools/witchery.md' | relative_url }}">Witchery</a></li>
</ul>

Development
<ul>
  <li><a href="{{ '/gameplay' | relative_url }}">Gameplay</a></li>
</ul>

Links
<ul>
  <li><a href="{{ '/gameplay' | relative_url }}">Gameplay</a></li>
</ul>

Tools
<ul>
  <li><a href="{{ '/gameplay' | relative_url }}">Gameplay</a></li>
</ul>