<p>Skills new to 103, this school teaches you proficiency with daggers among other combat modifying abilities.  
</p>
<ul>
<li>Banditry is aligned with the Jonas faction.
</li>
</ul>
<table border="1">
<caption><b>Banditry</b>
</caption>
<tr>
<th>Level
</th>
<th>Cost
</th>
<th>Name
</th>
<th>Based Stat
</th>
<th>NPC
</th>
<th>Chance<br/>to Imp
</th>
<th>Training<br/>Points
</th></tr>
<tr>
<td rowspan="3">1
</td>
<td rowspan="3">500
</td>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Awareness" title="Awareness">Awareness</a>
</td>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Intellect" title="Intellect">Intellect</a>
</td>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Kerrenor" title="Kerrenor">Kerrenor</a>
</td>
<td>
</td>
<td>10
</td></tr>

<tr>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Light_Feet" title="Light Feet">Light Feet</a>
</td>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Agility" title="Agility">Agility</a>
</td>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Celegorm" title="Celegorm">Celegorm</a>
</td>
<td>
</td>
<td>10
</td></tr>
<tr>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Stab" title="Stab">Stab</a>
</td>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Aim" title="Aim">Aim</a>
</td>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Kerrenor" title="Kerrenor">Kerrenor</a>
</td>
<td>20
</td>
<td>30
</td></tr>
<tr>
<td rowspan="5">2
</td>
<td rowspan="5">1000
</td></tr>
<tr>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Bleed_Mastery" title="Bleed Mastery">Bleed Mastery</a>
</td>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Aim" title="Aim">Aim</a>
</td>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Kerrenor" title="Kerrenor">Kerrenor</a>
</td>
<td>
</td>
<td>50
</td></tr>
<tr>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Dagger_Wielding" title="Dagger Wielding">Dagger Wielding</a>
</td>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Aim" title="Aim">Aim</a>
</td>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Kerrenor" title="Kerrenor">Kerrenor</a>
</td>
<td>
</td>
<td>30
</td></tr>
<tr>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Perception" title="Perception">Perception</a>
</td>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Intellect" title="Intellect">Intellect</a>
</td>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Kerrenor" title="Kerrenor">Kerrenor</a>
</td>
<td>
</td>
<td>20
</td></tr>
<tr>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Swift_Hands" title="Swift Hands">Swift Hands</a>
</td>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Aim" title="Aim">Aim</a>
</td>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Celegorm" title="Celegorm">Celegorm</a>
</td>
<td>
</td>
<td>50
</td></tr>
<tr>
<td rowspan="5">3
</td>
<td rowspan="5">2000
</td></tr>
<tr>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Sneak" title="Sneak">Sneak</a>
</td>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Agility" title="Agility">Agility</a>
</td>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Kerrenor" title="Kerrenor">Kerrenor</a>
</td>
<td>
</td>
<td>30
</td></tr>
<tr>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Throw" title="Throw">Throw</a>
</td>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Aim" title="Aim">Aim</a>
</td>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Kerrenor" title="Kerrenor">Kerrenor</a>
</td>
<td>
</td>
<td>30
</td></tr>
<tr>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Tumble" title="Tumble">Tumble</a>
</td>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Agility" title="Agility">Agility</a>
</td>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Kerrenor" title="Kerrenor">Kerrenor</a>
</td>
<td>
</td>
<td>40
</td></tr>
<tr>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Poison_Blade" title="Poison Blade">Poison Blade</a>
</td>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Agility" title="Agility">Agility</a>
</td>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Celegorm" title="Celegorm">Celegorm</a>
</td>
<td>
</td>
<td>70
</td></tr>
<tr>
<td rowspan="4">4
</td>
<td rowspan="4">4000
</td>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Blade_Mastery" title="Blade Mastery">Blade Mastery</a>
</td>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Aim" title="Aim">Aim</a>
</td>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Kerrenor" title="Kerrenor">Kerrenor</a>
</td>
<td>
</td>
<td>50
</td></tr>
<tr>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Heavy_Arms" title="Heavy Arms">Heavy Arms</a>
</td>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Agility" title="Agility">Agility</a>
</td>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Celegorm" title="Celegorm">Celegorm</a>
</td>
<td>
</td>
<td>60
</td></tr>
<tr>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Hide" title="Hide">Hide</a>
</td>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Agility" title="Agility">Agility</a>
</td>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Kerrenor" title="Kerrenor">Kerrenor</a>
</td>
<td>
</td>
<td>50
</td></tr>
<tr>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Throwing_Precision" title="Throwing Precision">Throwing Precision</a>
</td>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Aim" title="Aim">Aim</a>
</td>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Kerrenor" title="Kerrenor">Kerrenor</a>
</td>
<td>
</td>
<td>50
</td></tr>
<tr>
<td rowspan="3">5
</td>
<td rowspan="3">8000
</td>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Backstab" title="Backstab">Backstab</a>
</td>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Aim" title="Aim">Aim</a>
</td>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Kerrenor" title="Kerrenor">Kerrenor</a>
</td>
<td>
</td>
<td>90
</td></tr>
<tr>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Tight_Grip" title="Tight Grip">Tight Grip</a>
</td>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Might" title="Might">Might</a>
</td>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Celegorm" title="Celegorm">Celegorm</a>
</td>
<td>
</td>
<td>60
</td></tr>
<tr>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Track" title="Track">Track</a>
</td>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Intellect" title="Intellect">Intellect</a>
</td>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Celegorm" title="Celegorm">Celegorm</a>
</td>
<td>
</td>
<td>50
</td></tr>
<tr>
<td rowspan="2">6
</td>
<td rowspan="2">16000
</td>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Reckless_Heart" title="Reckless Heart">Reckless Heart</a>
</td>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Might" title="Might">Might</a>
</td>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Celegorm" title="Celegorm">Celegorm</a>
</td>
<td>
</td>
<td>
</td></tr>
<tr>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Spy" title="Spy">Spy</a>
</td>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Agility" title="Agility">Agility</a>
</td>
<td><a href="/web/20200720000159/http://wiki.openmeridian.org/index.php/Celegorm" title="Celegorm">Celegorm</a>
</td>
<td>
</td>
<td>
</td></tr>
</table>